@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
.img {
  background: var(--bg-top-image);
  background-size: cover;

  height: 250px;
}

body {
  font: 400 18px/1 "Josefin Sans", sans-serf;
  background-color: var(--main-bg);

  color: var(--font-color);
}
header {
  justify-content: space-between;
  max-width: 545px;
  margin: 0 auto;
  padding: 52px 0 11px;
}
main {
  justify-content: space-between;
  max-width: 545px;
  margin: 0 auto;
  position: relative;
  bottom: 45px;
}

h1 {
  font-weight: 700;
  font-size: 2.3rem;
  color: #fff;
  letter-spacing: 1rem;

  letter-spacing: 13px !important;
}
.positions {
  position: relative;
  bottom: 25px;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.theme-dark {
  --bg-top-image: 0 0 url(./images/bg-desktop-dark.jpg) no-repeat;
  --main-bg: hsl(235, 21%, 11%);
  --todo-bg: hsl(235, 24%, 19%);
  --todo-shadow: hsl(235, 21%, 11%);
  --font-color: hsl(235, 9%, 76%);
  --font-color-hover: #fff;
  --text-hover-color: hsl(232, 15%, 72%);
  --line-through-color: hsl(240, 1%, 28%);
  --border-bottom: rgb(126, 126, 126);
  --clear-color: hsl(0, 0%, 31%);
}

.theme-light {
  --bg-top-image: 0 0 url(./images/bg-desktop-light.jpg) no-repeat;
  --main-bg: hsl(0, 0%, 98%);
  --todo-bg: hsl(0, 0%, 98%);
  --todo-shadow: hsl(233.3, 4.9%, 63.7%);
  --font-color: hsl(240, 4%, 33%);
  --font-color-hover: hsl(235, 21%, 11%);
  --text-hover-color: hsl(240, 22%, 85%);
  --line-through-color: hsl(240, 3%, 79%);
  --border-bottom: rgb(196, 196, 196);
  --clear-color: hsl(0, 1%, 67%);
}

.theme-block {
  margin: -10px 0 0;
}

.theme-block #theme {
  display: none;
}

.theme-block #theme + label::before {
  content: "";
  background: url(./images/icon-sun.svg);
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.theme-block #theme:checked + label::before {
  background: url(./images/icon-moon.svg);
}

.add-new-item {
  background: var(--todo-bg);
  height: 55px;
  border-radius: 5px;
  margin: 0 0 24px;
  padding: 0 26px;
  position: relative;
  bottom: 75px;
  box-shadow: 0 12px 15px -11px var(--todo-shadow);
}

.add-new-item #addItem {
  background: transparent;
  color: var(--font-color);
  border: 0;
  outline: 0;
  width: 100%;
  height: 50px;
  font: 400 18px/1 "Josefin Sans", sans-serf;
  margin: 4px 0 0 47px;
  letter-spacing: -0.3px;
}

.add-new-item span {
  width: 25px;
  height: 25px;
  border: 1px solid var(--border-bottom);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 26px;
  top: 15px;
  cursor: pointer;
}

.content {
  background: var(--todo-bg);
  border-radius: 5px;
  box-shadow: 1px 5px 25px -10px var(--todo-shadow);
  bottom: 70px;
  position: relative;
  color: var(--font-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0 10px 0 25px;
  min-height: 55px;
  border-bottom: 1px solid var(--border-bottom);
  position: relative;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

ul li label {
  position: relative;
  cursor: pointer;
  padding: 2px 0 0 48px;
  font-size: 1.1rem;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
}

ul li.hidden {
  display: none;
}

.checkbox ~ .checkmark {
  border: 1px solid var(--border-bottom);
  border-radius: 50px;
}

.checkbox ~ .checkmark:hover {
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: hsl(280, 87%, 65%);
}

.checkbox ~ .checkmark::before {
  content: "";
  width: 23px;
  height: 23px;
  border-radius: 50%;

  background: transparent;
  display: block;
}

.checkbox:checked ~ .checkmark {
  background: center url(./images/icon-check.svg) no-repeat,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checkbox:checked ~ .text {
  text-decoration: line-through;
  color: var(--line-through-color);
}

.remove {
  background: url(./images/icon-cross.svg) no-repeat;
  width: 18px;
  height: 18px;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
}
ul li:hover .remove {
  display: block;
}

.items-left {
  margin-right: 86px;
}

.bottom-items {
  padding: 20px 20px 20px 27px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  align-items: baseline;
  border-radius: 5px;
  background: var(--todo-bg);
  box-shadow: 0 5px 30px -19px var(--todo-shadow);
  position: relative;
  bottom: 70px;
  color: var(--clear-color);
}
.remove-bottom-items-responsiv {
  display: none;
}

.filter {
  margin-right: 47px;
}

.radio-filter {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-label {
  cursor: pointer;
  padding: 0 10px;
}
.filter-label:hover {
  color: var(--font-color-hover);
}

.radio-filter:checked ~ span {
  color: hsl(221, 62%, 52%);
}

.clear {
  color: var(--clear-color);
  cursor: pointer;
}

.clear:hover {
  color: var(--font-color-hover);
}

@media (max-width: 738px) {
  html {
    font-size: 80%;
  }

  .theme-light {
    --bg-top-image: 0 0 url(./images/bg-mobile-light.jpg) no-repeat;
    --main-bg: hsl(0, 0%, 98%);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow: hsl(233.3, 4.9%, 63.7%);
    --font-color: hsl(235, 6%, 40%);
    --font-color-hover: hsl(235, 21%, 11%);
    --text-hover-color: hsl(240, 22%, 85%);
  }
  .theme-dark {
    --bg-top-image: 0 0 url(./images/bg-mobile-dark.jpg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
    --text-hover-color: hsl(231, 6%, 45%);
  }
  .remove-responsiv {
    display: none;
  }

  .container {
    background: var(--bg-top-image) no-repeat;
    background-color: var(--main-bg);
    background-size: 100%;
  }
  main {
    width: 90%;
    min-width: 327px;
    position: relative;
    bottom: 3px;

    top: -30px;
  }
  .add-new-item span {
    position: absolute;
    left: 15px;
  }
  .checkmark {
    position: absolute;
    left: -10px;
    top: -4px;
  }
  .responsiv {
    display: none;
  }
  .add-new-item {
    margin: 0 0 13px;
    padding: 0 15px;
  }
  .text {
    margin-right: 50px;
    position: relative;
    right: 15px;
  }
  .remove {
    position: absolute;
    right: 10px;
    top: 20px;
  }
  .positions {
    position: relative;
    bottom: 2px;
  }
  h1 {
    font-size: 2rem;
    position: relative;
    left: 16px;
  }
  .theme-block {
    margin-right: 15px;
  }
  .hover-text {
    color: var(--text-hover-color);
  }
  .content {
    color: var(--font-color);
  }

  .bottom-items-responsiv {
    margin: 0 0 19px;
  }
  .remove-responsiv {
    display: none;
  }
  .remove-bottom-items-responsiv {
    display: inherit;
  }

  .filter {
    margin-left: 60px;
    font-size: 15px;
  }
  .clear {
    margin-left: 75px;
  }
}
.attribution {
  text-align: center;
}
